.login-container {
    margin: auto;
    right : 0px;
    text-align: center;
    padding: 70px 0;
    border: 1px solid #ccc;
    width: 500px;
    margin: 0 auto;
    background-color: #4CAF50;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body{
    background-color: aquamarine;
}

#password{
    
    border: none;
}
