@font-face {
    font-family: notosans_med;
    src: url(../font/notosans/NotoSansThai-Medium.ttf);
}


.login-container {
    margin: auto;
    right : 0px;
    text-align: center;
    padding: 70px 0;
    border: 1px solid #ccc;
    width: 500px;
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-top: 50px;
}

.login-input{
    border : 1px solid black;
    padding-top: 40px;
    
}


.login-show{
    position: absolute;
    float: right;
    margin-top: 15px;
    margin-right: -10px;


}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: notosans_med;
    font-size: 20px;
    width: 500px;
}

body{
    background: rgb(229,229,244);
    background: linear-gradient(90deg, rgba(229,229,244,1) 0%, rgba(164,201,242,1) 100%);
    
}

#password {
    width: 250px;
    height: 20px;
    border : 5px solid rgba(0, 0, 0, 0.3);
    font-size:20px;
    margin-bottom : 20px;
    font-family: notosans_med;

}

#password-show{
    float:right;
    position: relative;
}

#username{
    width: 250px;
    height: 20px;
    border : 5px solid rgba(0, 0, 0, 0.3);
    font-size:20px;
    margin-bottom : 20px;
    font-family: notosans_med;
}

#login-password{
    border:1px solid black;
}

#hideicon{
    position: absolute;
    margin-top: 12px;
    margin-left: -32px;
    animation-duration: 4s;
}

#showicon{
    position: absolute;
    margin-top: 12px;
    margin-left: -32px;
    animation-duration: 4s;
}




#studentlogin{
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#teacherlogin{
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#adminlogin{
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#headlogin{
    font-family: notosans_med;
    text-align: left;
}

#utype{
    height:40px;
    width: 200px;
    font-family: notosans_med;
    font-size: 15px;

}

#output{
    font-family: notosans_med;
    font-size:20px;
}
